<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <title>Filters: Listing14-12</title>
    <script src="../js/angular.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
</head>
<body ng-controller="defaultCtrl">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Products
            <span class="label label-primary">{{products.length}}</span>
        </h3>
    </div>
    <div class="panel-body">
        Limit: <select ng-model="limitVal" ng-options="item for item in limitRange"></select>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Expiry</td>
                <td class="text-right">Price</td>
            </tr>
            </thead>
            <tbody>
            <!--<tr ng-repeat="p in products | orderBy:'price'">-->
            <tr ng-repeat="p in products | orderBy:'-price'"> <!-- Listing 14-13: prefix property name with a minus sign (-) to specify descending order -->
                <td>{{p.name}}</td>
                <td>{{p.category}}</td>
                <td>{{getExpiryDate(p.expiry) | date:"dd MMM yy"}}</td>
                <td class="text-right">{{p.price | currency}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    angular.module("exampleApp", [])
            .controller("defaultCtrl", ["$scope", function ($scope) {
                $scope.products = [
                    { name: "Apples", category: "Fruit", price: 1.20, expiry: 10},
                    { name: "Bananas", category: "Fruit", price: 2.42, expiry: 7},
                    { name: "Pears", category: "Fruit", price: 2.02, expiry: 6},

                    { name: "Tuna", category: "Fish", price: 20.45, expiry: 3},
                    { name: "Salmon", category: "Fish", price: 17.93, expiry: 2},
                    { name: "Trout", category: "Fish", price: 12.93, expiry: 4},

                    { name: "Beer", category: "Drinks", price: 2.99, expiry: 365},
                    { name: "Wine", category: "Drinks", price: 8.99, expiry: 365},
                    { name: "Whiskey", category: "Drinks", price: 45.99, expiry: 365}
                ];

                $scope.limitVal = "5";
                $scope.limitRange = [];
                for (var i = (0 - $scope.products.length); i <= $scope.products.length; i++) {
                    $scope.limitRange.push(i.toString());
                }


                $scope.getExpiryDate = function(days) {
                    var now = new Date();
                    return now.setDate(now.getDate() + days);
                }
            }]);
</script>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>