<!DOCTYPE html>
<html lang="en" ng-app="sportsStore">
<head>
  <meta charset="UTF-8">
  <title>SportsStore</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <script src="js/angular.js"></script>
</head>
<body ng-controller="sportsStoreCtrl">
  <div class="navbar navbar-inverse">
    <a href="#" class="navbar-brand">SPORTS STORE</a>
  </div>
  <div class="panel panel-default row" ng-controller="productListCtrl">
    <div class="col-xs-3">
      <a class="btn btn-block btn-default btn-lg" ng-click="selectCategory()">Home</a>
      <a ng-repeat="item in data.products | orderBy:'category' | unique:'category'" class="btn btn-block btn-default btn-lg" ng-click="selectCategory(item)" ng-class="getCategoryClass(item)">{{ item }}</a>
    </div>
    <div class="col-xs-8">
      <div class="well" ng-repeat="item in data.products | filter:categoryFilterFn">
        <h3>
          <strong>{{ item.name }}</strong>
          <span class="pull-right label label-primary">
            {{ item.price | currency }}
          </span>
        </h3>
        <span class="lead">{{ item.description }}</span>
      </div>
    </div>
  </div>

  
  <script>
    angular.module('sportsStore', ["customFilters"]);
  </script>
  <script src="controllers/sportsStore.js"></script>
  <script src="filters/customFilters.js"></script>
  <script src="controllers/productListControllers.js"></script>

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>