<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <title>Forms 12-5</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <script src="../js/angular.js"></script>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <form name="myForm" novalidate ng-submit="addUser(newUser)">
        <div class="well">
            <div class="form-group">
                <label>Name:</label>
                <input name="userName" type="text" class="form-control" required ng-model="newUser.name"/>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input name="userEmail" type="email" class="form-control" required ng-model="newUser.email"/>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="agreed" ng-model="newUser.agreed" required/>
                    I agree to the terms and conditions.
                </label>
            </div>
            <button class="btn btn-primary btn-block" type="submit" ng-disabled="myForm.$invalid">OK</button>
        </div>
        <div class="well">Message: {{ message }}
            <div>Valid: {{myForm.$valid}}</div>
        </div>
    </form>
</div>


<script>
    angular.module("exampleApp", [])
            .controller('defaultCtrl', ['$scope', function ($scope) {
                $scope.addUser = function(userDetails) {
                    $scope.message = userDetails.name + " (" + userDetails.email + ") (" + userDetails.agreed + ")";
                    $scope.message = "Ready";
                }
            }]);
</script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>