<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
  <meta charset="UTF-8">
  <title>Ch 11 - Using Event and Element Directives</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/bootstrap-theme.css">
  <script src="../js/angular.js"></script>
  <style>
    td > *:first-child { font-weight: bold }
    tr.Red { background-color: lightcoral; }
    tr.Green { background-color: lightgreen; }
    tr.Blue { background-color: lightblue; }
  </style>
</head>
<body>
  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>
    <!-- 11-7 -->
    <!-- <div class="row well">
      <div class="col-xs-6" ng-repeat="(key, val) in settings">
        <h4>{{key}}</h4>
        <div class="radio" ng-repeat="button in buttonNames">
          <label>
            <input type="radio" ng-model="settings[key]" value="{{button}}">{{button}}
          </label>
        </div>
      </div>
    </div> -->
    <!-- <div class="checkbox well">
      <label>
        <input type="checkbox" ng-model="todos[2].complete">
        Item 3 is complete
      </label>
    </div> -->
    <div class="well">
      <span ng-repeat="button in buttonNames">
        <button class="btn btn-info" ng-click="data.rowColor=button">
          {{button}}
        </button>
      </span>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Action</th>
          <th>Done</th>
        </tr>
      </thead>
      <tr ng-repeat="item in todos" ng-class="data.rowColor" 
        ng-mouseenter="handleEvent($event)"
        ng-mouseleave="handleEvent($event)">
        
      <!-- <tr ng-repeat="item in todos | filter: {complete: 'false'}"> -->
        <td>{{ $index + 1 }}</td>
        <td>{{ item.action }}</td>
        <td ng-class="data.columnColor">
          {{item.complete}}
          <!-- <span ng-if="!item.complete">false</span> 
          <span ng-if="item.complete">true</span> --> 
        </td>
      </tr>
      </tr>
    </table>
  </div>
  <script>
    angular.module("exampleApp", [])
      .controller("defaultCtrl", ["$scope", function($scope) {
        $scope.todos = [
          { action: "Get groceries", complete: false },
          { action: "Call plumber", complete: false },
          { action: "Buy running shoes", complete: true },
          { action: "Buy flowers", complete: false },
          { action: "Call family", complete: false }
        ];

        $scope.buttonNames = ["Red", "Green", "Blue"];
        // $scope.settings = {
        //   Rows: "Red",
        //   Columns: "Green"
        // };

        // 11-8
        $scope.data = {
          rowColor: "Blue",
          columnColor: "Green"
        };

        $scope.handleEvent = function(e) {
          console.log("Event type: " + e.type);
          $scope.data.columnColor = e.type == "mouseover" ? "Green" : "Blue";
        }

      }]);
  </script>
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>