<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
  <meta charset="UTF-8">
  <title>Directives</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/bootstrap-theme.css">
  <script src="../js/angular.js"></script>
  <style>
    .odd {
      background-color: lightcoral;
    }
    .even {
      background-color: lavenderblush;
    }
  </style>
</head>
<body>
  <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>
  
    <div class="well">
      <div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
        <label ng-cloak>
          <input type="radio" ng-model="data.mode" value="{{ button }}" ng-checked="$first" />
          {{ button }}
        </label>
      </div>
    </div>

    <div ng-switch on="data.mode" ng-cloak>
      <div ng-switch-when="Table">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Action</th>
              <th>Done</th>
            </tr>
          </thead>
          <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
            <td>{{ $index + 1 }}</td>
            <td ng-repeat="prop in item">{{ prop }}</td>
          </tr>
        </table>
      </div>
      <div ng-switch-when="List">
        <ol>
          <li ng-repeat="item in todos">{{ item.action }}<span ng-if="item.complete"> (Done) </li>
        </ol>
      </div>
      <div ng-switch-default>Select another option to display a layout</div>
    </div>



    <!-- Listing 10-14 -->
    <!-- <div class="well">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="showList">
          Use the list view
        </label>
      </div>
    </div>
    <ng-include src="viewFile()" onload="reportChange()"></ng-include> -->
    <!-- End Listing 10-14 -->
    <!-- <ng-include src="'table.html'"></ng-include> -->
<!-- Commented out for Partial Views Example Start -->
    <!-- <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Action</th>
          <th>Done</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in todoes" ng-class="$odd" : "event"></tr>  
        <tr>{{ $index + 1 }}</tr>
        <tr ng-repeat-start="item in todos">
          <td>This is item {{ $index }}</td>
        </tr>
        <tr>
          <td>The action is: {{ item.action }}</td>
        </tr>
        <tr ng-repeat-end>
          <td>Item {{ $index }} is {{ $item.complete? '' : "not" }} complete</td>
        </tr> -->
        <!-- <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'"> --> <!-- Creating a Striped Table 10-8 -->
            
          <!-- ng-if 10-9 -->
          <!-- <td>{{ $index + 1 }}</td>
          <td>{{ item.action }}</td>
          <td><span ng-if="$first || $last">{{ item.complete }}</span></td> -->

          <!-- Using Built-in Variables -->
          <!-- <td>{{ $index + 1 }}</td>
          <td ng-repeat="prop in item">{{ prop }}</td> -->


          <!-- Receiving a Key and a Data Value -->
          <!-- <td ng-repeat="(key, value) in item">{{ key }} = {{ value }}</td> -->


          <!-- Nesting and Repeating Object Properties -->
          <!-- <td ng-repeat="prop in item">{{ prop }}</td> -->


          <!-- Normal -->
          <!-- <td>{{ item.action }}</td>
          <td>{{ item.complete }}</td> -->
        <!-- </tr> -->
     <!--  </tbody>
    </table> -->
<!-- Commented out for Partial Views Example End -->


    <!-- Data Binding -->
    <!-- <div class="well">
      <div>The first item is: {{ todos[0].action}}</div>
    </div>

    <div class="form-group-well">
      <label for="firstItem">Set First Item:</label>
    </div>
    <input type="text" name="firstItem" class="form-control" ng-model="todos[0].action"> -->
  </div>
  <script>
    angular.module("exampleApp", [])
      .controller("defaultCtrl", ["$scope", function($scope) {

        $scope.data = {};

        $scope.todos = [
          { action: "Get groceries", complete: false },
          { action: "Call plumber", complete: false },
          { action: "Buy running shoes", complete: true },
          { action: "Buy flowers", complete: false },
          { action: "Call family", complete: false }
        ];

        $scope.viewFile = function() {
          return $scope.showList ? "list.html" : "table.html";
        };

        $scope.reportChange = function() {
          console.log("Displayed content: " + $scope.viewFile());
        }
      }]);
  </script>
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>